$dark-theme-background: rgba(0, 0, 0, 0.70);
$light-theme-background: rgba(255, 255, 255, 0.45);

$dark-theme-secondary-background: rgba(0, 0, 0, 0.40);
$light-theme-secondary-background: rgba(255, 255, 255, 0.45);

$dark-theme-border-color: rgba(255, 0, 0, 0.45);
$light-theme-border-color: rgba(255, 0, 0, 0.45);
