@import "./image.scss";
@import "./theme.scss";

h2 {
  margin: 16px 0;
}

ul {
  margin-left: 32px;
}

// Used to keep the vanta.js background in place and overwrite the built-in position: absolute;
.vanta-canvas {
  position: fixed !important;
}

.subtitle {
  font-size: 0.875rem;
  opacity: 0.6;
}
