@import "./primitives.scss";
@import "./helpers.scss";
@import "./theme.scss";
@import "./image.scss";


.subtitle {
  font-size: 0.875rem;
  opacity: 0.6;
}

.no-underline {
  text-decoration: none;
}
