@use 'primeflex/primeflex.scss';

@import "./theme.scss";
@import "./image.scss";


html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


a, a:visited, a:focus, a:active {
  text-decoration: none;
  color: #ff7044;
  &:hover {
    color: #FF0000;
  }
}

.white-link, .white-link:visited, .white-link:focus, .white-link:active {
  text-decoration: none;
  color: inherit !important;
  &:hover {
    color: inherit !important;
  }
}


.p-button-outlined {
  border-width: 2px !important;
}

p {
  margin: 16px 0;
  line-height: 1.5rem;
}

li {
  line-height: 2rem;
}

h2, h3, h4 {
  margin: 16px 0;
}

ul {
  margin-left: 32px;
}


table {
  border-spacing: 0;
  th, td, tr {
    @extend .text-left;
    @extend .px-3;
    line-height: 2.5rem;
    border-bottom: 1px solid var(--p-primary-700);
    border-right: none;
  }

}


.background-overlay {
  background-color: var(--p-surface-700);
}

.background-overlay-darker {
  background-color: var(--p-surface-900);
}

.subtitle {
  font-size: 0.875rem;
  opacity: 0.6;
}

.no-underline {
  text-decoration: none;
}
