@import 'variables';

/*
v-app
*/
.v-application {
  &.v-theme--dark {
    background-color: $dark-theme-background !important;
  }

  &.v-theme--light {
    background-color: $light-theme-background !important;
  }
}

/*
v-app-bar
*/
.v-app-bar {
  &.v-theme--dark {
    background-color: $dark-theme-background !important;
    color: white !important;

    a {
      color: white;
    }
  }

  &.v-theme--light {
    background-color: $dark-theme-background !important;
    color: white !important;
  }
}

/*
v-navigation-drawer
*/
.v-navigation-drawer {
  &.v-theme--dark {
    background-color: $dark-theme-secondary-background !important;
    color: white !important;
    border-right-color: $dark-theme-border-color;
  }

  &.v-theme--light {
    background-color: $light-theme-secondary-background !important;
    color: black !important;
    border-right-color: $dark-theme-border-color;
  }
}

/*
v-table
*/
.v-table {
  &.v-theme--dark {
    background-color: transparent !important;
    color: white;

    th, td, tr {
      border-top-color: $dark-theme-border-color !important;
      border-bottom-color: $dark-theme-border-color !important;
    }
  }

  &.v-theme--light {
    background-color: transparent !important;
    color: black;

    th, td, tr {
      border-top-color: $light-theme-border-color !important;
      border-bottom-color: $light-theme-border-color !important;
    }
  }
}

/*
v-card
*/
.v-card {
  border: 2px solid !important;

  .logo-container {
    text-align: center;

    img {
      margin: 30px 0;
    }
  }

  &.v-theme--dark {
    background-color: $dark-theme-secondary-background !important;
    border-color: $dark-theme-border-color !important;
    color: white;
    transition: .5s;

    &:hover {
      border-color: red !important;
    }
  }

  &.v-theme--light {
    background-color: $light-theme-secondary-background !important;
    border-color: $light-theme-border-color !important;
    transition: .5s;
    color: black;

    &:hover {
      border-color: red !important;
    }
  }
}

/*
v-expansion-panels
*/
.v-expansion-panels, {
  &.v-theme--dark {
    background-color: transparent !important;
    color: white !important;
    border-right-color: $dark-theme-border-color;

    .v-expansion-panel {
      background-color: $dark-theme-secondary-background !important;

      .v-expansion-panel-title {
        font-weight: bold;

        &.v-expansion-panel-title--active {
          background-color: rgba(255, 0, 0, 0.40) !important;
        }
      }

    }
  }

  &.v-theme--light {
    background-color: transparent !important;
    color: black !important;
    border-right-color: $dark-theme-border-color;

    .v-expansion-panel {
      background-color: $light-theme-secondary-background !important;

      .v-expansion-panel-title {
        font-weight: bold;

        &.v-expansion-panel-title--active {
          background-color: rgba(255, 0, 0, 0.40) !important;
        }
      }
    }
  }
}


