@import 'variables';

/*
v-navigation-drawer
*/
.v-navigation-drawer {
  &.v-theme--dark {
    background-color: $dark-theme-secondary-background !important;
    color: white !important;
    border-right-color: $dark-theme-border-color;
  }

  &.v-theme--light {
    background-color: $light-theme-secondary-background !important;
    color: black !important;
    border-right-color: $dark-theme-border-color;
  }
}



/*
v-card
*/
.v-card {
  border: 2px solid !important;

  .logo-container {
    text-align: center;

    img {
      margin: 30px 0;
    }
  }

  &.v-theme--dark {
    background-color: $dark-theme-secondary-background !important;
    border-color: $dark-theme-border-color !important;
    color: white;
    transition: .5s;

    &:hover {
      border-color: red !important;
    }
  }

  &.v-theme--light {
    background-color: $light-theme-secondary-background !important;
    border-color: $light-theme-border-color !important;
    transition: .5s;
    color: black;

    &:hover {
      border-color: red !important;
    }
  }
}


